body{
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 10em 15em;
}

.domain-field{
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    font-size: 0.8em;
}

.answer-button, .linked-card, .option{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    padding: 1em;
    margin-top: 10px;
    font-size: 3em; 
    font-family: Verdana;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.5em;
}