body{
    font-family: sans-serif;
    background-color:#fff;
    color: #000;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 10em 15em;
}

.domain-field, .alternative-tag-field{
    border-radius: 50px;
    font-size: 0.8em;
    padding: 0.1em;
}

.list, .alternative-tag-field{
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
}

.youtube{
    border: 2px solid #b31217;
    background-color: #b31217;
    color: #fff;
}

.spotify{
    border: 2px solid #1DB954;
    background-color: #1DB954;
    color: #000;
}

.answer-button, .linked-card, .option{
    border-radius: 0px;
    padding: 1em;
    margin-top: 10px;
    font-size: 3em; 
    font-family: Verdana;
}

.answer-button{
    border: 1px solid #1BB76E;
    background-color: #1BB76E;
}

.option, .linked-card{
    border: 2px solid #fff;
    color: #fff;
    background-color: #030303;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.5em;
}
